{% extends 'base.html.twig' %}

{% block title %}New Fans{% endblock %}

{% block body %}
    <h1>Create new Fans</h1>

    {{ include('fans/_form.html.twig') }}

    <a href="{{ path('fans_index') }}">back to list</a>
{% endblock %}
